<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (messages.length > 0) { %>
      <% messages.forEach(message => { %>
          <div style="border: 2px dashed black; width: fit-content; padding: .5rem; margin: .5rem 0;">
            <p><b><%= message.user %></b></p>
            <p><%= message.text %></p>
            <p><%= message.added %></p>
          </div>
      <% }) %>
    <% } else { %>
      <p>there are no messages to display...</p>
    <% } %>
  </body>
</html>
